<div class="rwby-flex-item rwby-flex-basis-3-md rwby-p-half">
  <h5>
    Season {{season}} Episodes
  </h5>

  <ul>
    {{#each filteredEpisodes as |ep|}}
      <li>
        {{#link-to 'episodes.season.episode' season ep.id }}
          {{ep.title}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>

{{outlet}}